

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    flex-shrink: 0;
    border: 1px solid gray;
}

.squares{
    flex-shrink: 0;
    flex-grow: 0;
}

button{
    margin-top: 30px;
    margin-bottom: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
}